.manage-listing-page {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.listing-info {
  padding: 0.6rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.listing-city-state, .listing-price {
  font-size: 1rem;
}

.listings-reservation-button {
  background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  border-color: #D70466;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  height: 2rem;
  width: 11rem;
}

.listing-div {
  display: flex;
  justify-content: center;
  width: 100rem;
}

.user-img-div {
  width: 45rem;
  height: 10rem;
  padding: 0.5rem;
}

.listing-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.manage-listings-header {
  font-size: 2rem;
  padding: 1rem;
  margin-left: 9rem;
}
