.reservation-div {
  border: 1px grey solid;
  border-radius: 20px;
  margin-top: 0.6rem;
  padding: 1.5rem;
}

.reservation-dates {
  display: flex;
}

.select-date {
  border: none;
  margin: 0;
  padding: 0 0 0.8rem 0;
  width: 8rem;
  height: 1.5rem;
}

.check-in,
.check-out {
  border: 1px grey solid;
  padding: 1rem 0 0 1rem;
  width: 10rem;
}

.check-in {
  border-right: none;
}

/* .select-guests {
  border: none;
} */

/* .guests {
  border: 1px grey solid;
  border-top: none;
} */

.reserve-details {
  align-items: center;
  display: flex;
  font-size: 22px;
  font-weight: 200;
  justify-content: center;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.reserve-price {
  font-weight: 600;
  margin-right: 0.5rem;
}

.reserve-rating {
  font-size: 1.1rem;
  margin-left: 5rem;
  margin-right: 0.5rem;
}

.reserve-review {
  font-size: 1.1rem;
}

.reserve-button {
  background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  border-color: #D70466;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  height: 55px;
  margin-top: 15px;
  width: 22rem;
}

.total-fees {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 10px 5px;
  font-size: 20px;
  font-weight: 200;
}

.price {
  display: flex;
}
