.whole-page {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.entire-room-page {
  margin: 2rem 13rem;
}

.room-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  align-items: center;
}

.left-image-div {
  height: 44rem;
  width: 50rem;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.main-image {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.right-image-div {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 45rem;
  place-content: center;
  width: 50rem;
}

.side-image-div {
  margin: 0.5rem;
}

.side-images {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 23rem;
}

.side-image-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.room-name {
  font-size: 2.3rem;
  font-weight: 450;
}

.room-information-top {
  font-size: 20px;
  margin: 15px 0;
}

.fa-star {
  margin-right: 7px;
}

.span-separator {
  font-size: 22px;
  margin: 0 15px;
}

.room-information-bottom {
  display: flex;
  margin: 0.8rem;
}

.room-description {
  font-size: 22px;
  font-weight: 200;
  padding: 0.5rem 0.9rem 0 0;
}

.reservation-div {
  border: 1px grey solid;
  border-radius: 20px;
  margin-top: 0.6rem;
  padding: 1.4rem;
}

.reservation-dates {
  display: flex;
}

.select-date {
  border: none;
  width: 8rem;
}

.check-in,
.check-out {
  border: 1px grey solid;
}

.select-guests {
  border: none;
}

.guests {
  border: 1px grey solid;
  border-top: none;
}

.reserve-details {
  align-items: center;
  display: flex;
  font-size: 22px;
  font-weight: 200;
  justify-content: center;
  margin-bottom: 1rem;
}

.reserve-price {
  font-weight: 600;
  margin-right: 0.5rem;
}

.reserve-rating {
  font-size: 18px;
  margin-left: 9rem;
  margin-right: 0.5rem;
}

.reserve-review {
  font-size: 18px;
}

.reserve-button {
  background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  border-color: #D70466;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  height: 55px;
  margin-top: 15px;
  width: 410px;
}

.total-fees {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1700px) {
  .left-image-div {
    height: 35rem;
    width: 38rem;
    margin: 0.5rem;
  }

  .right-image-div {
    height: 36rem;
    width: 38rem;
  }

  .side-images {
    max-height: 20rem;
  }
}

@media screen and (max-width: 1000px) {

  .room-images {
    display: flex;
    flex-direction: column;
  }

  .side-images {
    max-height: 17rem;
  }
}
