.main-nav {
  border-bottom: 1px #71717150 solid;
  /* position: relative; */

}

.navigation-outer {
  display: flex;
  justify-content: center;
}

.navigation-bar {
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1.3rem 0;
  width: 93rem;
  /* left: 100px; */
}

.login {
  margin-right: 8px;
}

.signup {
  font-size: 18px;
}

.nav-link {
  text-decoration: none;
}

.home-link {
  color: #ff385c;
  display: flex;
  font-weight: bold;
}

.airbnb-name {
  align-items: center;
  font-size: 1.4rem;
  line-height: 20px;
  padding-left: 8px;
  padding-top: 14px;
}


@media screen and (min-width: 1650px) and (max-width: 1700px) {
  .navigation-bar {
    width: 69rem;
  }
}

@media screen and (min-width: 1450px) and (max-width: 1650px) {
  .navigation-bar {
    width: 70rem;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1450px) {
  .navigation-bar {
    width: 70rem;
  }
}

@media screen and (min-width: 1150px) and (max-width: 1300px) {
  .navigation-bar {
    width: 64rem;
  }
}

@media screen and (min-width: 850px) and (max-width: 1150px) {
  .navigation-bar {
    width: 62rem;
  }
}

@media screen and (max-width: 850px) {
  .navigation-bar {
    width: 45rem;
  }
}
