.main-nav {
  border-bottom: 1px #71717150 solid;
}

.navigation-outer {
  display: flex;
  justify-content: center;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1.3rem 0;
  width: 100rem;
}

.login {
  margin-right: 8px;
}

.signup {
  font-size: 18px;
}

.nav-link {
  text-decoration: none;
}

.home-link {
  color: #ff385c;
  display: flex;
  font-weight: bold;
}

.airbnb-name {
  align-items: center;
  font-size: 1.4rem;
  line-height: 20px;
  padding-left: 8px;
  padding-top: 14px;
}

@media screen and (min-width: 1700px) and (max-width: 2000px) {
  .navigation-bar {
    width: 100rem;
  }
}

@media screen and (min-width: 1650px) and (max-width: 1700px) {
  .navigation-bar {
    width: 72rem;
  }
}

@media screen and (min-width: 1450px) and (max-width: 1650px) {
  .navigation-bar {
    width: 69rem;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1450px) {
  .navigation-bar {
    width: 66rem;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .navigation-bar {
    width: 64rem;
  }
}

@media screen and (min-width: 650px) and (max-width: 1000px) {
  .navigation-bar {
    width: 50rem;
  }
}

@media screen and (max-width: 650px) {
  .navigation-bar {
    width: 30rem;
  }
}
