* {
  font-family: Circular,
    -apple-system,
    "system-ui",
    Roboto,
    "Helvetica Neue",
    sans-serif;
}

.navigation-bar-div {
  display: flex;
  justify-content: space-between;
}

.login {
  margin-right: 8px;
}

.signup {
  margin-right: 20px;
  font-size: 18px;
}

.nav-link {
  text-decoration: none;
}

.home-link {
  color: #ff385c;
  display: flex;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
}

.airbnb-name {
  align-items: center;
  font-size: 24px;
  line-height: 20px;
  padding-left: 8px;
  padding-top: 7px;
}
