* {
  font-family: Circular,
    -apple-system,
    "system-ui",
    Roboto,
    "Helvetica Neue",
    sans-serif;
}

.profile-button-div,
.show-menu-div {
  display: flex;
  justify-content: left;
  margin-right: 10px;
}

.profile-button {
  align-items: center;
  background-color: white;
  border: 1px #71717150 solid;
  border-radius: 21px;
  margin-top: 8px;
  margin-right: 12px;
}

.fa-user-circle {
  font-size: 34px;
  color: #717171;
  margin: 6px 0px;
  padding-left: 8px;
}

.fa-bars {
  font-size: 19px;
  color: #717171;
  margin: 0px 10px;
}

.profile-icons {
  display: flex;
  align-items: center;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  position: absolute;
  top: 80px;
  right: 48px;
  width: 140px;
  box-shadow: rgba(100, 100, 111, 0.158) 0px 2px 22px 0px;
  border-radius: 20px;
  background: white;
}

.user-email-display {
  margin: 5px;
}

.logout-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border: none;
  font-size: 16px;
  padding: 10px 70px 10px 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logout-div:hover {
  background-color: #7171710e;
}
