.profile-button-div {
  display: flex;
  justify-content: space-between;
}

.profile-button {
  background-color: white;
  border: 1px #71717150 solid;
  border-radius: 22px;
  margin-top: 8px;
}

.profile-icons {
  display: flex;
  align-items: center;
  padding: 0.1rem 0 0.1rem 0.2rem;
  color: #6e6e6e;
}

.profile-button:hover {
  box-shadow: rgba(129, 129, 129, 0.492) 0px 4px 3px -2.5px;
  transform: none;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  position: absolute;
  top: 100px;
  right: 301px;
  width: 240px;
  box-shadow: rgba(100, 100, 111, 0.158) 0px 2px 22px 0px;
  border-radius: 20px;
  background: white;
}

.logout-div,
.account-div,
.link {
  font-size: 16px;
  padding: 15px 60px 15px 20px;
}

.logout-div {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.account-div {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px rgba(128, 128, 128, 0.274) solid;
}

.logout-div:hover,
.account-div:hover,
.link:hover {
  background-color: #7171710e;
}

.link {
  text-decoration: none;
  color: black
}

.trips,
.host-home {
  border-bottom: 1px rgba(128, 128, 128, 0.274) solid;
}

.manage-listings, .host-home, .logout-div {
  font-weight: 220;
}

.trips {
  font-weight: 600;
}
