.login-form-button {
  background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  border-color: #D70466;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  margin-top: 20px;
  width: 410px;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 470px;
}

.login-input {
  font-size: 16px;
  padding-left: 10px;
  width: 400px;
  border-radius: 10px;
}

.email-input {
  /* border-bottom: none; */
  margin-bottom: 0px;
}

.login-header {
  padding-right: 210px;
  margin-top: 0px;
  font-size: 22px;
  font-weight: normal;
}

.login-button {
  background-color: white;
  border: none;
  font-size: 18px;
  margin-top: 20px;
}

/* .login-button:hover {
  color: rgba(128, 128, 128, 0.297);
} */
