.trips-page {
  /* display: grid;
  grid-template-columns: 1fr 7fr 1fr; */
  display: flex;
  justify-content: center;
}

.trips-header {
  font-size: 2rem;
  padding: 1.6rem 0 0;
  font-weight: 500;
}

.reservation-header {
  font-size: 1.4rem;
  padding: 1rem 0;
}

.outer-main {
  display: flex;
  flex-direction: column;
  width: 86rem;
  margin: 0;
  padding: 1rem 0 0.5rem 0;
}

.main-reservation-content,
.middle-change-res {
  display: flex;
  width: 70rem;
  border-radius: 20px;
}

.main-no-trips {
  border-radius: 20px;
  width: 35rem;
  padding: 2rem;
  border: 1px rgba(128, 128, 128, 0.143) solid;
  height: 15rem;
  margin-top: 1rem;
}

.main-reservation-content {
  height: 20rem;
  border: 1px rgba(128, 128, 128, 0.143) solid;
}

.middle-change-res {
  height: 10rem;
}

.top-left-name {
  font-size: 1.4rem;
  padding: 1rem 0 1.5rem 1rem;
  border-bottom: 1px rgba(128, 128, 128, 0.286) solid;
}

.top-left-res-content {
  padding: 1rem;
}

.top-left-res-content,
.bottom-left-res-content {
  display: flex;
  flex-direction: row;
}

.res-button {
  border: none;
  border-radius: 10px;
  padding: 0.3rem 0.4rem;
  margin: 0.13rem 0.3rem 0.3rem;
}

.res-button:hover {
  cursor: pointer;
}

.right-res-content {
  display: flex;
  height: 20rem;
}

.cancel-button {
  color: #ff385c;
  font-weight: 600;
}

.right-image-res {
  display: flex;
  margin-left: 4rem;
}

.res-img {
  height: 100%;
  width: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.left-res-content {
  width: 36rem;
}

.bottom-change-res {
  width: 5rem;
  padding: 0.5rem 2rem;
  height: 10rem;
}

.bottom-location {
  padding: 0.5rem 0;
}

.month-res {
  font-size: 1.3rem;
  padding-bottom: 0.2rem;
  font-weight: 250;
}

.day-res {
  font-size: 1.1rem;
  font-weight: 250;
}

.res-year {
  font-size: 0.8rem;
  padding-top: 0.1rem;
}

.bottom-edit-res {
  margin-top: 6rem;
}

.bottom-dates {
  padding-right: 1rem;
  border-right: 1px rgba(128, 128, 128, 0.286) solid;
}

.date-res-other {
  font-size: 1.1rem;
  font-weight: 250;
}

.res-address,
.res-city-state {
  font-size: 1.2rem;
  font-weight: 250;
}

.res-select-date {
  border: none;
  width: 10rem;
}

.reservation-dates-res {
  display: flex;
  margin-left: 1rem;
}

.check-res {
  display: flex;
  flex-direction: column;
  border: 1px grey solid;
  border-radius: 10px;
  height: 3rem;
  padding: 0.3rem;
  margin: 0.8rem 0.5rem;
}

.select-date-res {
  border: none;
  margin: 0;
  padding: 0.2rem;
  width: 8rem;
  height: 1.5rem;
}

.edit-delete-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 0.7rem;
}

.middle-change-res {
  height: 4rem;
}

.update-res-header {
  padding: 0.7rem 0 0 0.5rem;
  font-size: 1rem;
}

.reserve-errors-edit {
  margin: 0.5rem 0 0 1rem;
  color: #ff385c;
  font-size: 0.9rem;
}

.res-button:disabled {
  color: grey;
  background: none;
}

.update-button:disabled,
.cancel-button:disabled {
  visibility: hidden;
}

.start-search-button {
  background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  font-weight: 350;
  height: 55px;
  margin-top: 2rem;
  width: 11rem;
}

.no-trips-header {
  font-size: 1.5rem;
  padding: 1.2rem 0 1rem 0;
}

.no-trips-caption {
  font-size: 1.2rem;
  font-weight: 200;
  color: grey;
}

.trips-main-div {
  margin-right: 340px;
}
