.trips-page {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}

.trips-header {
  font-size: 2rem;
  padding: 1rem 0 0;
  font-weight: 500;
}

.reservation-header {
  font-size: 1.3rem;
  padding: 1rem 0;
}

.outer-main {
  display: flex;
  flex-direction: column;
  width: 86rem;
  margin: 0;
  padding: 1rem;
}

.main-reservation-content,
.middle-change-res {
  display: flex;
  width: 70rem;
}

.main-reservation-content {
  height: 20rem;
  border: 1px rgba(128, 128, 128, 0.143) solid;
}

.middle-change-res {
  height: 10rem;
}

.top-left-name {
  font-size: 1.4rem;
  padding: 1rem 0 1.5rem 1rem;
  border-bottom: 1px rgba(128, 128, 128, 0.286) solid;
}

.top-left-res-content {
  padding: 1rem;
}

.top-left-res-content,
.bottom-left-res-content {
  display: flex;
  flex-direction: row;
}

.res-button {
  border: none;
  border-radius: 10px;
  padding: 0.3rem;
}

.right-res-content {
  display: flex;
  height: 20rem;
}

.right-image-res {
  display: flex;
  margin-left: 4rem;
}

.res-img {
  height: 100%;
  width: 100%;
}

.left-res-content {
  width: 36rem;
}

.bottom-change-res {
  width: 4rem;
  padding: 0.5rem 2rem;
  height: 10rem;
}

.bottom-location {
  padding: 0.5rem 0;
}

.month-res {
  font-size: 1.3rem;
  padding-bottom: 0.2rem;
}

.day-res {
  font-size: 1.1rem;
}

.res-year {
  font-size: 0.8rem;
  padding-top: 0.1rem;
}

.bottom-edit-res {
  margin-top: 6rem;
}

.bottom-dates {
  border-right: 1px rgba(128, 128, 128, 0.286) solid;
}
